.menu {
  width: 100%;
  z-index: 3;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  background: var(--bs-body-bg);
}
.shine {
  -webkit-mask-image: linear-gradient(
    109deg,
    rgb(255 255 255) 45%,
    #ff000059 50%,
    rgb(255 255 255) 55%
  );
  mask-image: linear-gradient(
    109deg,
    rgb(255 255 255) 45%,
    #ff000059 50%,
    rgb(255 255 255) 55%
  );
  animation: mymove 5s infinite;
  animation-timing-function: cubic-bezier(0.7, 1.22, 1, 1);
}
@keyframes mymove {
  from {
    -webkit-mask-position: -82px;
    mask-position: -82px;
  }
  to {
    -webkit-mask-position: 62px;
    mask-position: 62px;
  }
}
.menu .banner {
  max-height: 60px !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 100%;
  height: auto;
  min-height: 60px;
  display: flex;
  align-items: center;
}
.menu svg {
  width: 22px !important;
  height: 22px !important;
  min-width: 22px !important;
  min-height: 22px !important;
  fill: var(--bs-dark-text-emphasis) !important;
  color: var(--bs-dark-text-emphasis) !important;
}
.menu .top svg {
  width: 15px !important;
  height: 15px !important;
  min-width: 15px !important;
  min-height: 15px !important;
  fill: var(--bs-dark-text-emphasis) !important;
  color: var(--bs-dark-text-emphasis) !important;
}
.menu a {
  fill: var(--bs-dark-text-emphasis) !important;
  color: var(--bs-dark-text-emphasis) !important;
}
.menu a:hover,
.menu a:hover svg,
a.textwhite:hover svg path {
  fill: var(--color1) !important;
  color: var(--color1) !important;
}
.rtl.menu {
  left: auto !important;
  right: 0px;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
  color: var(--bs-dark-text-emphasis) !important;
  fill: var(--bs-dark-text-emphasis);
}
.menu .top {
  font-size: 0.6rem;
  color: var(--bs-dark-text-emphasis);
  fill: var(--bs-dark-text-emphasis);
  justify-content: space-between;
}
.menu .top .theme {
  border-inline-end: 1px solid var(--color5);
  padding-inline-end: 10px;
  cursor: pointer;
}
.menu .top .theme:hover svg path {
  fill: var(--color1) !important;
}
.menu .top svg {
  width: 17px !important;
  height: 17px !important;
  min-width: 17px !important;
  min-height: 17px !important;
}
.menu .logo {
  margin-inline-end: 15px;
}
.menu .social {
  margin-inline-start: auto !important;
}
.menu .social li {
  margin-inline-start: 10px;
}
.menu .topitem {
  margin-inline-start: 10px;
  border-radius: var(--bs-border-radius);
  padding: 2px 5px;
  border: 1px solid var(--bs-dark-text-emphasis);
  cursor: pointer;
  position: relative;
}
.menu .menurow {
  justify-content: space-between;
  font-size: 0.85rem;
}
.menu .menurow .tools {
  margin-inline-start: auto !important;
}
.menu .menurow .tools li {
  margin-inline-start: 15px;
  font-size: 1.2rem;
}
a.textwhite svg,
a.textwhite svg path,
a.textwhite {
  color: var(--bs-dark-text-emphasis) !important;
  fill: var(--bs-dark-text-emphasis) !important;
}

.menu .close {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 25px;
  left: 25px;
  width: 40px !important;
  height: 40px !important;
  background: var(--bs-tertiary-bg);
  border-radius: var(--bs-border-radius);
  padding: 10px;
}
.menu .topmenutop {
  cursor: pointer;
}
.menu .topmenutopbox {
  background: var(--bs-body-bg);
  /* color: rgb(255, 255, 255); */
  position: fixed;
  top: 0px;
  left: 0px !important;
  z-index: 999;
  height: calc(100% - 71px);
  width: 100%;
}
.menu .topmenutopbox a {
  color: var(--bs-dark-text-emphasis) !important;
}
.menu .topmenutopitems {
  overflow-x: hidden;
  overflow-y: auto;
}
.menu .topmenutopitem {
  cursor: pointer;
}

.menu .menurow > ul.itemsfull > li > a {
  margin-inline-end: 15px;
  display: inline-flex;
}
.menu .menurow > ul.itemsfull > li > a svg {
  margin-inline-start: 5px;
  width: 11px !important;
  height: 11px !important;
  min-width: 15px !important;
  min-height: 17px !important;
  opacity: 0.6;
}
.menu .menurow .mobilemenufull {
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 1000 !important;
  left: 0px;
  top: 0px;
  min-height: 100vh;
  background: var(--bs-body-bg);
  color: rgb(255, 255, 255);
  padding-block: 1.5rem !important;
}
.menu .menurow .mobilemenufull > li {
  margin-top: 25px;
  padding-inline: 25px;
}
.menu .menurow .mobilemenufull > li > ul {
  margin-top: 25px;
  position: relative;
  padding: 0px !important;
  width: 100%;
  top: 0px;
  background: transparent;
  color: var(--bs-dark-text-emphasis) !important;
  border-radius: 0px !important;
  display: block !important;
  box-shadow: none !important;
}
.menu .menurow .mobilemenufull > li > ul > li {
  width: 100% !important;
  display: inline-block !important;
  margin-inline: 0px !important;
  -webkit-margin-after: 20px;
  margin-block-end: 20px;
}
.menu .menurow .mobilemenufull > li > ul > li a {
  color: var(--bs-dark-text-emphasis) !important;
}
.menu .itemsfull .close {
  width: 30px !important;
  height: 30px !important;
}
.menu .menurow > ul > li > ul {
  position: absolute;
  padding: 10px;
  width: 100%;
  left: 0px;
  top: 40px;
  background: var(--bs-body-bg);
  color: #000 !important;
  border-radius: var(--bs-border-radius);
  display: flex;
  flex-wrap: wrap !important;
  box-shadow: var(--bs-box-shadow);
  z-index: 4;
}
.menu .menurow a {
  cursor: pointer;
}
.menu .menurow > ul > li > ul > li a {
  color: var(--bs-dark-text-emphasis) !important;
}
/* .menu .menurow > ul > li > ul > li > a {
  font-weight: 700;
} */
.menu .menurow > ul > li > ul a svg {
  display: none;
}
.menu .menurow > ul > li > ul > li {
  width: 25%;
  display: inline-block !important;
  margin-inline: 0px !important;
  margin-block-end: 20px;
}
.menu .menurow > ul > li > ul > li ul {
  padding: 0px;
  padding-inline-start: 10px;
}
.menu .menurow > ul > li > ul > li ul li {
  display: block !important;
  margin-block: 10px;
  font-size: 0.65rem;
}
.menu .button {
  font-size: 0.7rem;
}
@media (max-width: 415px) {
  .menu .btntext {
    display: none;
  }
  .menu .button svg {
    margin-inline-end: 0px !important;
  }
}
